.video__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  .video__title {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .video__createdAt {
    font-size: 12px;
    margin-bottom: 30px;
  }
  .video__owner {
    margin-bottom: 5px;
    font-size: 14px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
}
.video-ownerBtn {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  a{
    width: 135px;
    display: block;
    padding: 10px;
    border-radius: 9999px;
    margin: 5px;
    background-color: white;
    color: black;
    text-align: center;
  }
}
.video__add-comments {
  max-width: 320px;
  width: 100%;
  display: block;
  margin: 0 auto;

  .video__comment-form{
    display: flex;
    flex-direction: column;
    button{
      display: block;
      margin-top: 20px;
      background-color: white;
      color: black;
      font-size: 18px;
      padding: 10px;
      border-radius: 9999px;
    }
    textarea {
      display: block;
      box-sizing: border-box;
      border-radius: 20px;
      padding: 20px;
    }
  }
  }
.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment{
    padding: 10px;
    background-color: white;
    border-radius: 9999px;
    color: black;
    margin-bottom: 10px ;
    span{
      max-width: 300px;
      word-wrap: break-word;
    }
    button {
      border: none;
      background-color: white;
      color: #590515;
    }
  }
}