extends base

block content
  
  form(method="POST", enctype="multipart/form-data").edit-profile__form.identify-form
    label Email : #{loggedInUser.email}
    label(for="avatar") Avatar
    input(type="file" , id="avatar", name="avatar", accept="image/*")
    label Name
    input(placeholder="Name", name="name", type="text", required, value=loggedInUser.name)
    label Username
    input(placeholder="Username", name="username", type="text", required, value=loggedInUser.username)
    label Location
    input(placeholder="Location", name="location", type="text", value=loggedInUser.location)
    input(type="submit", value="Update Profile")
    if !loggedInUser.socialOnly 
      div.edit-profile__password
        a(href="change-password") Change Password &rarr;