extends ../base

block content
  form(method="post")
    input(placeholder="Old Password", type="text") 
    input(placeholder="New Password", type="text") 
    input(placeholder="New Password Confirmation", type="text")
    input(type="submit", value="Change Password")